.header-sales-history{
  display: flex;
}

.logo{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-right: 20px;
}

.breadcrumb{
  display: flex;
  margin-right: 20px;
  margin-bottom: 60px;
}

.breadcrumb .ventas{
  margin-left: 10px;
}

.header-sales-history button{
 color: black;
}
