.header{
  display: flex;
}

.logo{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-right: 20px;
}

.breadcrumb{
  display: flex;
  margin-right: 20px;
  margin-bottom: 60px;
}

.breadcrumb .ventas{
  margin-left: 10px;
}

.header button{
  height: 50px;
  width: 180px;
  border-radius: 30px;
  color: black;
  font-size: 13px;
  font-weight: bold;
  background-color: #F0EEEE;
}

/* Modal */
